.container {
  max-width: 1000px;
  margin: 0 auto;
}

.table-responsive {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.badge-success {
  background-color: #28a745;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
}

.table-responsive>table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.table-responsive>table tbody {
  max-height: 16rem;
  overflow-y: auto;
}

.botonera {
  display: flex !important;
  align-content: space-between;
  align-items: center;
}
