<div class="container">
    <h2>Detalle de la venta</h2>
<table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{ venta.fecha | date: 'short' }}</td>
        <td>{{ venta.cliente }}</td>
        </tr>
    </tbody>
 </table>

 <div class="table-responsive" style="max-height: 24rem; overflow-y: auto;">
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descripción</th>
          <th scope="col">Unidades Vendidas</th>
          <th scope="col">Recaudacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registrosproducto of LineasVentaproductoSinDuplicados ">
          <!-- <div *ngIf="producto.activo"> -->
          <td>{{ registrosproducto.producto.codigo }}</td>
          <td>{{ registrosproducto.producto.descripcion }}</td>
          <td>{{ registrosproducto.cantidad }}    </td>
          <td>{{  registrosproducto.subtotal| currency:'ARS ' }}</td>
          <!-- </div> -->
        </tr>
      </tbody>
    </table>
  </div>

  
  <div class="col-md-8 ">
    <div class="Totales">  Total Recaudado: 
      <label for="cantidadProducto">{{ Totales|currency }}</label>     
    </div>
  
   </div>

   <div class="form-check mt-3 botonera">
    <button type="button" class="btn btn-primary btn-block mb-3 mr-3" (click)="exportarDatos()">Exportar Venta como TXT</button>
<button type="button" class="btn btn-primary btn-block mb-3 ml-3" (click)="exportarDatosXLSX()">Exportar Venta como XLS</button>

   </div>
</div>