<div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4">Bienvenido a Control Stock</h1>
        <p class="lead">Gestione eficientemente su inventario con nuestras herramientas avanzadas.</p>
        <hr class="my-4">
        <p>Explore las diferentes secciones para ver y gestionar sus ventas, generar reportes y mucho más.</p>
        <a class="btn btn-primary btn-lg" href="/Registrar_Ventas" role="button">Ir a Ventas</a>
      </div>
    </div>
</div>