.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn-block {
    margin-top: 20px;
    margin-right: 20px; 
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
  