.bonoteraregistrar {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 20px;
}

.Totales label {

  color: green;
  font-size: 1.5rem;
}